body {
	background: url('img/body.jpg'); 
	background-size: cover;
	padding: 20px;
}

h2, h4{
	text-align: center;
	color: white;
}

h2 {
	text-transform: uppercase;
	text-shadow: 1px 1px 2px white;
}

#gallery {
	background: url('img/imgBackgr.jpg');
	background-size: cover;
	border-radius: 10px;
	outline: 1px solid white;
	box-shadow: 0 0 10px 0 white;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 80%;
	margin: 10px auto;
	padding: 10px;
	min-height: 150px;
}

#gallery a {
	margin: 20px;
}

.img {
	outline: 2px solid white;
}

#gallery a:hover {
	box-shadow: 0 0 20px 2px white;
}

.userImg {
	background: #f3f9fd;
	background: -moz-linear-gradient(-45deg, #f3f9fd 0%, #f3f9fd 100%);
	background: -webkit-linear-gradient(-45deg, #f3f9fd 0%,#f3f9fd 100%);
	background: linear-gradient(135deg, #f3f9fd 0%,#f3f9fd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f9fd', endColorstr='#f3f9fd',GradientType=1 );
	outline: 1px solid black;
	width: 300px;
	height: 20px;
	margin: 0 auto;
	padding: 5px;
}

.imgBig {
	outline: 2px solid white;
}

#wrapper {
	width: 804px;
	margin: 40px auto 10px;
}

.views {
	color: white;
	text-shadow: 0 0 50px white;
}